<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Backbone Music Player</title>

    <link rel="stylesheet" href="style/screen.css" media="screen, projection">
    <link rel="stylesheet" href="style/fancypants.css" media="screen, projection">

    <script src="js/vendor/modernizr-1.6.min.js"></script>
    <script src="js/vendor/jquery-1.5.1.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/MusicPlayer.js"></script>
    
    <!-- ========== JAVASCRIPT TEMPLATES ========== -->
    <script type="text/template" id="library-template">
      <h3>All tracks in the library</h3>
      <ul class="tracks">
      </ul>
    </script>

    <script type="text/template" id="track-template">
      <li>
        <button class="queue add"><img src="/images/add.png"/></button>
        <button class="queue remove"><img src="/images/remove.png"/></button>
        <span class="artist-name"><%= artist %></span> - <span class="track-title"><%= title %></span>
      </li>
    </script>

    <script type="text/template" id="playlist-template">
      <ul class="tracks">
      </ul>
    </script>

    <script type="text/template" id="player-template">
      <nav>
        <button class="control play">Play</button>
        <button class="control pause">Pause</button>
        <button class="control prev">Prev</button>
        <button class="control next">Next</button>
      </nav>
    </script>

    <!-- ======= END : JAVASCRIPT TEMPLATES ======= -->

  </head>

  <body>
    <div id="container">
      <div id="music-library">
        <h2>My Music Library</h2>
      </div>
      <div id="music-player">
        <div id="player">
          <h2>Player</h2>
        </div>
        <div id="playlist">
          <h2>My playlist</h2>
        </div>
      </div>
    </div>
  </body>
</html>
