<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
  <link rel="stylesheet" type="text/css" href="lib/jasmine-1.1.0/jasmine.css">

  <script type="text/javascript" src="lib/jasmine-1.1.0/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine-1.1.0/jasmine-html.js"></script>
  <script type="text/javascript" src="lib/jasmine-jquery-1.3.1.js"></script>
  <script type="text/javascript" src="lib/sinon-1.3.1.js"></script>
  <script type="text/javascript" src="lib/jasmine-sinon.js"></script>


  <!-- include source files here... -->
  <script src="../public/js/vendor/modernizr-1.6.min.js"></script>
  <script src="../public/js/vendor/jquery-1.5.1.min.js"></script>
  <script src="../public/js/vendor/underscore.js"></script>
  <script src="../public/js/vendor/backbone.js"></script>

  <script src="../public/js/MusicPlayer.js"></script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="spec/MusicPlayerRouter.spec.js"></script>

  <!-- ========== JAVASCRIPT TEMPLATES ========== -->
  <script type="text/template" id="library-template">
    <h3>All tracks in the library</h3>
    <ul class="tracks">
    </ul>
  </script>

  <script type="text/template" id="track-template">
    <li>
      <button class="queue add"><img src="/images/add.png"/></button>
      <button class="queue remove"><img src="/images/remove.png"/></button>
      <span class="artist-name"><%= artist %></span> - <span class="track-title"><%= title %></span>
    </li>
  </script>

  <script type="text/template" id="playlist-template">
    <ul class="tracks">
    </ul>
  </script>

  <script type="text/template" id="player-template">
    <nav>
      <button class="control play">Play</button>
      <button class="control pause">Pause</button>
      <button class="control prev">Prev</button>
      <button class="control next">Next</button>
    </nav>
  </script>

  <!-- ======= END : JAVASCRIPT TEMPLATES ======= -->
</head>
<body>

<script type="text/javascript">
  jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
  jasmine.getEnv().execute();
</script>

</body>
</html>
